@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AGRANDIR-wide';
    src: url('assets/fonts/AGRANDIR.woff2') format('woff2'),
         url('assets/fonts/AGRANDIR.woff') format('woff'),
         url('assets/fonts/AGRANDIR.ttf') format('truetype');
}

@media (max-width: 768px) {
    #navbar-default {
      max-height: 0;
      transition: max-height 0.5s ease, opacity 0.5s ease;
    }
  
    #navbar-default.hidden {
      opacity: 0;
      max-height: 0;
    }
  
    #navbar-default.show {
      opacity: 1;
      max-height: 500px;
    }
  
    .nav-link-click {
      animation: link-click-fade 0.5s ease-in-out;
    }
  
    @keyframes link-click-fade {
      from {
        opacity: 1;
        transform: scale(1);
      }
      to {
        opacity: 0.7;
        transform: scale(0.95);
      }
    }
  }  